---
title: Photos Paged
pagination:
    data: photos.z5wutri.media
    size: 1
    alias: photoselection
permalink: "photo_page/page-{{ pagination.pageNumber }}/index.html"
---
<!DOCTYPE html>
<html>
	{% for photo in pagination.items -%}
                <style>
			body {background-color:{{ photo.avg_color }};}
                </style>
	{% endfor -%}

	<body>
		<a href="../../index.html">Home Page</a>
		<br>
		<br>
		{% for photo in pagination.items -%}
		<h1>Photo Info</h1>
		<img src={{ photo.src.large }}>
		<br>
		<h2>{{ photo.alt }}</h2>
		</p>Photographer: {{ photo.photographer }} 
		<br>
		Photographer's Website: {{photo.photographer_url }}</p>
		{% endfor -%}
		
	</body>
</html>

